.backPrincipal {
    height: 755px;
    background: url(../assets/header_img.jpg) no-repeat #000;
    background-attachment: fixed;
    background-position: 50% 0;
    background-size: cover;
    -ms-background-position-x: center!important;
    background-position-x: center!important;
}

.herounit {
    background: 0 0;
    text-align: center;
    padding-top: 300px;
    padding-bottom: 0;
    padding: 60px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.herounit h1 {
    padding-bottom: 15px;
    font-size: 90px;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    color: inherit;
}

.herounit h3 {
    font-weight: 400;
    padding-bottom: 15px;
    font-size: 40px;
}

.fancy span:before, .fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    top: 8px;
    width: 150px;
}

.fancy span:before {
    right: 100%;
    margin-right: 15px;
}

.fancy span:before {
    left: 100%;
    margin-left: 15px;
} 

.fancy {
    line-height: .5;
    text-align: center;
}

.imgA {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}